/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}


  display: block;

  min-width: 100%;

  min-height: 100%;

}
.dairesel{

  border-radius: 50%;

  overflow: hidden;

  width: 150px;

  height: 150px;

}

.dairesel img {

  display: block;

  min-width: 100%;

  min-height: 100%;

}
.buyut{
	transition: all .2s ease-in-out;
}

.buyut:hover{
	transform: scale(1.2);
}

body

  min-height: 100vh

  display: grid

  place-items: center

svg.tea

  --secondary: #33406F

  //transform: scale(2)

  #teabag

    transform-origin: top center

    transform: rotate(3deg)

    animation: swing 2s infinite

  #steamL

    stroke-dasharray: 13

    stroke-dashoffset: 13

    animation: steamLarge 2s infinite

  #steamR

    stroke-dasharray: 9

    stroke-dashoffset: 9

    animation: steamSmall 2s infinite

@keyframes swing

  50%

    transform: rotate(-3deg)

@keyframes steamLarge

  0%

    stroke-dashoffset: 13

    opacity: .6

  100%

    stroke-dashoffset: 39

    opacity: 0

@keyframes steamSmall

  10%

    stroke-dashoffset: 9

    opacity: .6

  80%

    stroke-dashoffset: 27

    opacity: 0

  100%

    stroke-dashoffset: 27

    opacity: 0


